@font-face {
  font-family: "iconfont"; /* Project id 4216188 */
  src: url('iconfont.woff2?t=1706520770997') format('woff2'),
       url('iconfont.woff?t=1706520770997') format('woff'),
       url('iconfont.ttf?t=1706520770997') format('truetype'),
       url('iconfont.svg?t=1706520770997#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-device:before {
  content: "\e603";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-wofaqide_nav:before {
  content: "\e70c";
}

.icon-shebeibaojing:before {
  content: "\eaf0";
}

.icon-baoxian:before {
  content: "\e61f";
}

.icon-weizhang:before {
  content: "\e663";
}

.icon-carjiancha:before {
  content: "\e620";
}

.icon-wangye-dianzicheliangyongdetubiao-03:before {
  content: "\e632";
}

.icon-car-collision:before {
  content: "\e9c7";
}

.icon-shoukuanjilu:before {
  content: "\e804";
}

.icon-yingshouyingfu-:before {
  content: "\e637";
}

.icon-zidongkoukuan:before {
  content: "\e628";
}

.icon-refund1:before {
  content: "\e757";
}

.icon-list_hetongjiesuan:before {
  content: "\e63d";
}

.icon-jilu:before {
  content: "\e631";
}

.icon-cheliangshenqing:before {
  content: "\e6a8";
}

.icon-siji:before {
  content: "\e68f";
}

.icon-cheliangchuzhi:before {
  content: "\e626";
}

.icon-xiaguize:before {
  content: "\e608";
}

.icon-cheliangliebiao:before {
  content: "\e630";
}

.icon-xinzengcheliang:before {
  content: "\e7c1";
}

.icon-jipiaoyudingcheliangyuyueshenqingbiao:before {
  content: "\e617";
}

.icon-bangding:before {
  content: "\e615";
}

.icon-jiebang:before {
  content: "\e7c0";
}

.icon-bangka:before {
  content: "\e7dc";
}

.icon-hetong6:before {
  content: "\e7be";
}

.icon-xitongguanlitai:before {
  content: "\e7bf";
}

.icon-zonggongsi:before {
  content: "\e625";
}

.icon-chuzuche:before {
  content: "\e618";
}

.icon-backtop:before {
  content: "\e6e7";
}

.icon-arrow-right:before {
  content: "\e6e8";
}

.icon-arrow-up:before {
  content: "\e6e9";
}

.icon-backward:before {
  content: "\e6ea";
}

.icon-caret-down:before {
  content: "\e6ec";
}

.icon-caret-left:before {
  content: "\e6ed";
}

.icon-caret-right:before {
  content: "\e6f0";
}

.icon-chevron-down:before {
  content: "\e6f3";
}

.icon-chevron-left-circle:before {
  content: "\e6f4";
}

.icon-chevron-down-circle:before {
  content: "\e6f5";
}

.icon-chevron-left-rectangle:before {
  content: "\e6f6";
}

.icon-caret-up:before {
  content: "\e6f7";
}

.icon-chevron-left:before {
  content: "\e6f8";
}

.icon-chevron-right:before {
  content: "\e6f9";
}

.icon-a-chevron-rightdouble:before {
  content: "\e6fa";
}

.icon-chevron-right-circle:before {
  content: "\e6fb";
}

.icon-chevron-right-rectangle:before {
  content: "\e6fc";
}

.icon-enter:before {
  content: "\e6fd";
}

.icon-chevron-up-circle:before {
  content: "\e6fe";
}

.icon-chevron-up:before {
  content: "\e6ff";
}

.icon-a-chevron-leftdouble:before {
  content: "\e700";
}

.icon-forward:before {
  content: "\e701";
}

.icon-next:before {
  content: "\e702";
}

.icon-page-last:before {
  content: "\e703";
}

.icon-page-first:before {
  content: "\e704";
}

.icon-previous:before {
  content: "\e705";
}

.icon-Sort:before {
  content: "\e706";
}

.icon-round:before {
  content: "\e707";
}

.icon-swap-right:before {
  content: "\e708";
}

.icon-swap-left:before {
  content: "\e709";
}

.icon-swap:before {
  content: "\e70a";
}

.icon-file-copy:before {
  content: "\e70b";
}

.icon-file-paste:before {
  content: "\e70d";
}

.icon-file-add:before {
  content: "\e70e";
}

.icon-file-image:before {
  content: "\e70f";
}

.icon-file-excel:before {
  content: "\e710";
}

.icon-file-powerpoint:before {
  content: "\e711";
}

.icon-folder-open:before {
  content: "\e712";
}

.icon-folder-add:before {
  content: "\e713";
}

.icon-file:before {
  content: "\e714";
}

.icon-file-pdf:before {
  content: "\e716";
}

.icon-file-word:before {
  content: "\e717";
}

.icon-folder:before {
  content: "\e718";
}

.icon-file-unknown:before {
  content: "\e719";
}

.icon-check:before {
  content: "\e71a";
}

.icon-check-circle:before {
  content: "\e71d";
}

.icon-error-circle:before {
  content: "\e71e";
}

.icon-info-circle:before {
  content: "\e720";
}

.icon-help-circle:before {
  content: "\e722";
}

.icon-help:before {
  content: "\e723";
}

.icon-error:before {
  content: "\e725";
}

.icon-shuchu-moren:before {
  content: "\e740";
}

.icon-shuru-moren:before {
  content: "\e741";
}

.icon-wenjian-moren:before {
  content: "\e742";
}

.icon-duoxuan:before {
  content: "\e748";
}

.icon-danxuan:before {
  content: "\e74a";
}

.icon-jine:before {
  content: "\e74f";
}

.icon-bianji:before {
  content: "\e64f";
}

.icon-add:before {
  content: "\e651";
}

.icon-add-rectangle:before {
  content: "\e653";
}

.icon-chevron-down-rectangle:before {
  content: "\e654";
}

.icon-shuangyinhao:before {
  content: "\e75d";
}

.icon-delete:before {
  content: "\e658";
}

.icon-close:before {
  content: "\e65a";
}

.icon-fullsreen:before {
  content: "\e65b";
}

.icon-jump:before {
  content: "\e65c";
}

.icon-logout:before {
  content: "\e65d";
}

.icon-minus-rectangle:before {
  content: "\e65f";
}

.icon-more:before {
  content: "\e660";
}

.icon-download:before {
  content: "\e662";
}

.icon-minus-circle:before {
  content: "\e664";
}

.icon-browse-off:before {
  content: "\e665";
}

.icon-fullscreen-exit:before {
  content: "\e667";
}

.icon-close-circle:before {
  content: "\e668";
}

.icon-wenjianshuru:before {
  content: "\e771";
}

.icon-ellipsis:before {
  content: "\e66b";
}

.icon-login:before {
  content: "\e66d";
}

.icon-wenjianshuchu:before {
  content: "\e775";
}

.icon-edit-1:before {
  content: "\e66e";
}

.icon-remove:before {
  content: "\e66f";
}

.icon-save:before {
  content: "\e671";
}

.icon-rollback:before {
  content: "\e676";
}

.icon-link-unlink:before {
  content: "\e677";
}

.icon-search:before {
  content: "\e678";
}

.icon-pause:before {
  content: "\e679";
}

.icon-link:before {
  content: "\e67b";
}

.icon-play-circle:before {
  content: "\e67c";
}

.icon-refresh:before {
  content: "\e67d";
}

.icon-unfold-less:before {
  content: "\e67e";
}

.icon-thumb-up:before {
  content: "\e67f";
}

.icon-play-circle-stroke:before {
  content: "\e680";
}

.icon-stop:before {
  content: "\e681";
}

.icon-setting:before {
  content: "\e682";
}

.icon-stop-circle:before {
  content: "\e683";
}

.icon-pause-circle:before {
  content: "\e684";
}

.icon-zoom-in:before {
  content: "\e686";
}

.icon-upload:before {
  content: "\e688";
}

.icon-poweroff:before {
  content: "\e689";
}

.icon-unfold-more:before {
  content: "\e68b";
}

.icon-play:before {
  content: "\e68c";
}

.icon-zoom-out:before {
  content: "\e68d";
}

.icon-Reload:before {
  content: "\e68e";
}

.icon-share:before {
  content: "\e690";
}

.icon-add-circle:before {
  content: "\e691";
}

.icon-app:before {
  content: "\e692";
}

.icon-guidang:before {
  content: "\e693";
}

.icon-calendar:before {
  content: "\e695";
}

.icon-books:before {
  content: "\e696";
}

.icon-fahuo:before {
  content: "\e795";
}

.icon-chart-pie:before {
  content: "\e699";
}

.icon-refresh-auto-start:before {
  content: "\e796";
}

.icon-cart:before {
  content: "\e69a";
}

.icon-refresh-auto-end:before {
  content: "\e797";
}

.icon-chart-bar:before {
  content: "\e69b";
}

.icon-jianhuo:before {
  content: "\e798";
}

.icon-chart:before {
  content: "\e69c";
}

.icon-kuaijiejian:before {
  content: "\e799";
}

.icon-dashboard:before {
  content: "\e69d";
}

.icon-chat:before {
  content: "\e69e";
}

.icon-creditcard:before {
  content: "\e69f";
}

.icon-chart-bubble:before {
  content: "\e6a0";
}

.icon-a-suofang11:before {
  content: "\e79d";
}

.icon-cloud:before {
  content: "\e6a1";
}

.icon-zidongpailie:before {
  content: "\e79e";
}

.icon-flag:before {
  content: "\e6a2";
}

.icon-dengdai:before {
  content: "\e79f";
}

.icon-desktop:before {
  content: "\e6a3";
}

.icon-kaifa:before {
  content: "\e7a0";
}

.icon-jieyue:before {
  content: "\e6a4";
}

.icon-weiwancheng:before {
  content: "\e7a1";
}

.icon-discount:before {
  content: "\e6a5";
}

.icon-quanping:before {
  content: "\e7a2";
}

.icon-call:before {
  content: "\e6a6";
}

.icon-yunhangzhong:before {
  content: "\e7a3";
}

.icon-gift:before {
  content: "\e6a7";
}

.icon-quanxuan:before {
  content: "\e7a4";
}

.icon-xujie:before {
  content: "\e6ab";
}

.icon-home:before {
  content: "\e6ac";
}

.icon-location:before {
  content: "\e6ad";
}

.icon-mail:before {
  content: "\e6ae";
}

.icon-heart:before {
  content: "\e6b0";
}

.icon-gender-male:before {
  content: "\e6b2";
}

.icon-mobile:before {
  content: "\e6b4";
}

.icon-lock-on:before {
  content: "\e6b5";
}

.icon-gender-female:before {
  content: "\e6b6";
}

.icon-money-circle:before {
  content: "\e6b7";
}

.icon-history:before {
  content: "\e6b8";
}

.icon-server:before {
  content: "\e6b9";
}

.icon-zanwutupianshifan:before {
  content: "\e7b7";
}

.icon-slash:before {
  content: "\e6bd";
}

.icon-lock-off:before {
  content: "\e6bf";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-service:before {
  content: "\e6c0";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-photo:before {
  content: "\e6c1";
}

.icon-top:before {
  content: "\e7bc";
}

.icon-notification:before {
  content: "\e6c2";
}

.icon-bottom:before {
  content: "\e7bd";
}

.icon-Sound-Off:before {
  content: "\e6c3";
}

.icon-qrcode:before {
  content: "\e6c4";
}

.icon-star:before {
  content: "\e6c6";
}

.icon-time:before {
  content: "\e6c8";
}

.icon-sound:before {
  content: "\e6ca";
}

.icon-image:before {
  content: "\e6cb";
}

.icon-usb:before {
  content: "\e6cc";
}

.icon-video:before {
  content: "\e6cd";
}

.icon-wallet:before {
  content: "\e6ce";
}

.icon-Sound-On:before {
  content: "\e6cf";
}

.icon-secured:before {
  content: "\e6d0";
}

.icon-print:before {
  content: "\e6d1";
}

.icon-wifi:before {
  content: "\e6d2";
}

.icon-pin:before {
  content: "\e6d3";
}

.icon-tools:before {
  content: "\e6d4";
}

.icon-mobile-vibrate:before {
  content: "\e6d5";
}

.icon-tips:before {
  content: "\e6d6";
}

.icon-user-add:before {
  content: "\e6d8";
}

.icon-user-avatar:before {
  content: "\e6d9";
}

.icon-user:before {
  content: "\e6da";
}

.icon-user-circle:before {
  content: "\e6db";
}

.icon-usergroup:before {
  content: "\e6dc";
}

.icon-user-talk:before {
  content: "\e6dd";
}

.icon-usergroup-clear:before {
  content: "\e6de";
}

.icon-usergroup-add:before {
  content: "\e6df";
}

.icon-user-clear:before {
  content: "\e6e0";
}

.icon-jiantou-youshangjiao:before {
  content: "\e6e1";
}

.icon-jiantou-youxiajiao:before {
  content: "\e6e2";
}

.icon-arrow-down:before {
  content: "\e6e3";
}

.icon-arrow-down-rectangle:before {
  content: "\e6e4";
}

.icon-arrow-left:before {
  content: "\e6e5";
}

.icon-backtop-rectangle:before {
  content: "\e6e6";
}

.icon-qiehuan:before {
  content: "\e606";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-guanliyuan:before {
  content: "\e62a";
}

.icon-renwu:before {
  content: "\e60b";
}

.icon-cardid:before {
  content: "\e621";
}

.icon-dianlishebei:before {
  content: "\e622";
}

.icon-refund:before {
  content: "\e629";
}

.icon-yuqi:before {
  content: "\e614";
}

.icon-yidaoqi:before {
  content: "\e6f1";
}

.icon-jiazhao-:before {
  content: "\e612";
}

.icon-baojing:before {
  content: "\e687";
}

.icon-zhibiao:before {
  content: "\e66a";
}

.icon-baojing1:before {
  content: "\e67a";
}

.icon-lixianshebei:before {
  content: "\e638";
}

.icon-162gaojinguanli:before {
  content: "\e639";
}

.icon-x_event_record:before {
  content: "\e6d7";
}

.icon-sijiguanli:before {
  content: "\e675";
}

.icon-fengxiantishi-bai:before {
  content: "\e61e";
}

.icon-insure:before {
  content: "\e646";
}

.icon-xiaobaoyang:before {
  content: "\e68a";
}

.icon-jinggao:before {
  content: "\e715";
}

.icon-chaichechayan-:before {
  content: "\e60e";
}

.icon-zhifu:before {
  content: "\e647";
}

